<img src="https://images.unsplash.com/photo-1657561321371-2901ba93e9ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80" id="bg" alt="">
<div class="container">
    <div class="search-bar">
        <form  [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="input-group mt-8">
                <input type="search" class="form-control rounded" formControlName="location"
                placeholder="Enter the Location" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-primary">Fetch Weather</button>
                </div>
        </form>
    </div>
    <!-- -->
    <div class="loader" *ngIf = "isLoading" >        
        <div class="lds-roller">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
</div>


<div class="container" *ngIf="(weather_data).length!= 0">
    <div class="">
        <div class="future-forecast">
            <div *ngFor = 'let current_data of weather_data.weather_details; let i = index' class="weather-forecast">
                <div [ngClass]=" i != 0 ? 'current-info card nature' : 'current-info card current_bg'">
                    <div class="date-container">
                        <div [ngClass]=" i != 0 ? 'time white' : 'time'">
                            {{current_data.time}}<span id="am-pm">{{current_data.state}}</span>
                        </div>
                        <div id="date" [ngClass]=" i != 0 ? 'date white' : 'date'">
                            {{current_data.day}}, {{current_data.date}} {{current_data.month}} {{current_data.year}}
                        </div>
                        <img src="{{current_data.weather_icon_url}}" alt="{{current_data.weather_description}}" class="w-icon">
                        <div class="others weather-forecast-item" id="current-weather-items">
                                <div class="weather-item">
                                    <div class="bold-letter">Humidity</div>
                                    <div>{{current_data.humidity}} %</div>
                                </div>
                                <div class="weather-item">
                                    <div class="bold-letter" >Pressure</div>
                                    <div>{{current_data.pressure}}</div>
                                </div>
                                <div class="weather-item">
                                    <div class="bold-letter" >Wind Speed</div>
                                    <div>{{current_data.wind_speed}} km/h</div>
                                </div>
                                <div class="weather-item">
                                    <div class="bold-letter" >Min Temp</div>
                                    <div>{{current_data.min_temperature}} C</div>
                                </div>                <div class="weather-item">
                                    <div class="bold-letter" >Max Temp</div>
                                    <div>{{current_data.min_temperature}} C</div>
                                </div>                <div class="weather-item">
                                    <div class="bold-letter" >Details</div>
                                    <div>{{current_data.weather_description}}</div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





